.th1px {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.th1px .th1px_l {
	FONT-SIZE: 0px; BACKGROUND: url(th1px_l.gif) no-repeat left bottom; HEIGHT: 1px
}
.th1px .th1px_r {
	FONT-SIZE: 0px; BACKGROUND: url(th1px_r.gif) no-repeat right bottom; HEIGHT: 1px
}
.pri_blogPostList {
	WIDTH: 100%
}

.pub_list01 {
	BORDER-RIGHT: #f0f0f0 1px solid; BORDER-TOP: #f0f0f0 1px; BORDER-LEFT: #f0f0f0 1px solid; COLOR: #999; BORDER-BOTTOM: #f0f0f0 1px
}
.th1px {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.th1px .th1px_l {
	FONT-SIZE: 0px; BACKGROUND: url(th1px_l.gif) no-repeat left bottom; HEIGHT: 1px
}

.th1px .th1px_r {
	FONT-SIZE: 0px; BACKGROUND: url(th1px_r.gif) no-repeat right bottom; HEIGHT: 1px
}

.pub_list01 {
	BORDER-RIGHT: #f0f0f0 1px solid; BORDER-TOP: #f0f0f0 1px; BORDER-LEFT: #f0f0f0 1px solid; COLOR: #999; BORDER-BOTTOM: #f0f0f0 1px
}
.pub_list01 TH {
	BORDER-RIGHT: #dfdfdf 1px solid; BORDER-TOP: #dfdfdf 1px; PADDING-LEFT: 10px; BACKGROUND: url(bg_list01_th.gif) repeat-x 50% bottom; BORDER-LEFT: #dfdfdf 1px solid; COLOR: #666; LINE-HEIGHT: 25px; BORDER-BOTTOM: #dfdfdf 1px solid; HEIGHT: 25px
}
.pub_list01 TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(h_line_dot.gif) #fff repeat-x 50% bottom; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 39px; PADDING-TOP: 0px; HEIGHT: 39px
}
.pub_list01 TD A {
	COLOR: #666
}
.pub_list01 TD A:hover {
	COLOR: #6bb044; TEXT-DECORATION: underline
}
.pub_list01 .odd TD {
	BACKGROUND-COLOR: #f5f5f5
}
.pub_list01 TD.tdCenter {
	PADDING-LEFT: 0px; TEXT-ALIGN: center
}
.pub_list01 TH.tdCenter {
	PADDING-LEFT: 0px; TEXT-ALIGN: center
}

.pub_listFoot {
	MARGIN-TOP: 13px; OVERFLOW: hidden; ZOOM: 1; HEIGHT: 30px
}
.pri_blogPostAction {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 5px
}
.pub_subMenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 17px
}
.addNewCat {
	MARGIN-TOP: -3px;PADDING-BOTTOM: 10px;
}
.pub_subMenu .button {
	MARGIN-BOTTOM: -2px
}
.popup_edit {
	MARGIN-LEFT: 10px
}
.popup_edit .moreTag {
	MARGIN-TOP: 10px; OVERFLOW: auto; HEIGHT: 265px
}
.popup_edit .moreTag A {
	COLOR: #666; LINE-HEIGHT: 160%; MARGIN-RIGHT: 10px
}
.popup_edit .moreTag A:hover {
	COLOR: #6bb044
}
.button {
	TEXT-ALIGN: center
}
.button INPUT {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0.2em; MARGIN: 1.2em; CURSOR: pointer; PADDING-TOP: 0.4em
}

.channelContext {
	MARGIN-LEFT: 10px
}
.channelContext P {
	LINE-HEIGHT: 150%
}
.channelContext INPUT {
	MARGIN: 6px 0px
}
SPAN.pager {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; COLOR: #333; PADDING-TOP: 4px
}
.pagecent A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
SPAN.pager A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.pagecent SPAN {
	BORDER-RIGHT: #d3d3d3 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #d3d3d3 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3d3d3 1px solid; COLOR: #999; PADDING-TOP: 1px; BORDER-BOTTOM: #d3d3d3 1px solid
}
SPAN.pager SPAN.current {
	BORDER-RIGHT: #d3d3d3 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #d3d3d3 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3d3d3 1px solid; COLOR: #999; PADDING-TOP: 1px; BORDER-BOTTOM: #d3d3d3 1px solid
}