{% extends theme.adminbase %}


{% block content %}
<script type="text/javascript">
function doCheck(ischecked) {
	$('input.mch').each(function(i){	
		this.checked = ischecked;
	});
}
function getChecked() {
	var ids = '';
	$('input.mch').each(function(i){
		if (this.checked) {
			ids += this.value + ',';
		}
	});
	if (ids != '') {
		ids = ids.substr(0, ids.length-1);
	}
	return ids;
}

function confirmDel() {
	var ids = getChecked();
	if (ids.length == '') {
		alert('请选择要删除的记录。');
		return false;
	}
	if (!confirm('真的要删除选中的记录吗？')) {
		return false;
	}
	return true;
}
</script>
<div class="frame" id="txt99">
    <div class="main">
      <div class="pub_subMenu"">
    <div class="addNewCat">
      <input onclick="Picobox.showDOMBox('创建新关键字','#addNewTag',{width:390,height:158});" type="submit" value="创建新关键字" class="button" />
    </div>
  </div>
<!--title end-->   
  <form method="post" action="/admin/tag?op=delete" onsubmit="return confirmDel();" name="sortForm">
  <div id="pub_main">
  <div class="th1px"><div class="th1px_l"><div class="th1px_r"></div></div></div>
    <table cellpadding="0" cellspacing="0" class="pub_list01 pri_blogPostList">
      <tr>
        <th style="width:30px;" class="tdCenter"><input type="checkbox" onclick="doCheck(this.checked)"/></th>
        <th>关键字</th>
        <th style="width:50px;" class="tdCenter">小说数</th>

        <th style="width:90px;" class="tdCenter">操作</th>
		</tr>
		{% for tag in tags %}
      	<tr>
        <td class="tdCenter"><input type="checkbox" name="tid" class="mch" value="{{ tag.tid }}"/>
		<input type="hidden" name="hiddentid" value="{{ tag.tid }}"/>
		</td>
        <td><a href="#">{{ tag.name }}</a></td>
        <td class="tdCenter">0</td>
        <td class="tdCenter"><a href="#" onclick="$('#edittag_id').val('{{ tag.tid }}');$('#edittag_name').html('{{ tag.name }}');Picobox.showDOMBox('修改分类','#editCat',{width:390,height:138});">[修改]</a></td>
        </tr>
		{% endfor %}
          </table>
	<div class="th1pxb"><div class="th1px_l"><div class="th1px_r"></div></div></div>
    <div class="pub_listFoot">
     <div class="pri_blogPostAction">
	  <input type="submit" name="button" class="button" value="删除" 
	  onclick='document.sortForm.action="/admin/tag?op=delete";document.sortForm.submit();'/>
      </div>
    </div>
  </div>
  </form>
  <br/>
  

  <DIV class=channelContext>
  <SPAN class=pager>
  <SPAN class="total">共{{ max_page }}页</SPAN> 
  <A class=first href="/admin/tag/page/1">第一页</A>
  {% if show_prev %}
    <A class=prev href="/admin/tag/page/{{ prev }}">上一页</A> 
  {% endif %}
{% for page in page_list %}
{% ifequal page currpage %}
<SPAN class=current>{{ page }}</SPAN>
{% else %}
<A class=page href="/admin/tag/page/{{ page }}">{{ page }}</A>
{% endifequal %}
{% endfor %}
{% if show_next %}
<A class=next href="/admin/tag/page/{{ next }}">下一页</A>
{% endif %}
<A class=last href="/admin/tag/page/{{ max_page }}">最后一页</A>
  </SPAN></DIV>
<!--main end-->
</div>


<div id="addNewTag" style="display:none">
	<form method="post" action="/admin/tag?op=add">
		<table border="0" cellpadding="0" cellspacing="0" width="350px" class="popup_edit" >
		  <tr>
		    <th class="height30">新关键字：</th>
		    <td><input name="name" type="text" style="width:200px;" /></td>
		  </tr>
		  <tr>
		    <td colspan="2"><div class="button">
		<input type="submit" value="保存修改" /><input type="button" onclick="parent.Picobox.hide()" value="取消" />
		</div></td>
		  </tr>
		</table>
	</form>
</div>

<div id="editCat" style="display:none">
	<form method="post" action="/admin/tag?op=saveTag">
		<input id="edittag_id" name="tagid" type="hidden"/>
		<table border="0" cellpadding="0" cellspacing="0" width="350px" class="popup_edit" >
		  <tr>
		    <th class="height30">原关键字：</th>
		    <td id="edittag_name"></td>
		  </tr>		
		  <tr>
		    <th class="height30">新关键字：</th>
		    <td><input name="tagname" type="text" style="width:200px;" /></td>
		  </tr>
		  <tr>
		    <td colspan="2"><div class="button">
		<input type="submit" value="保存修改" /><input type="button" onclick="parent.Picobox.hide()" value="取消" />
		</div></td>
		  </tr>
		</table>
	</form>
</div>
    
  
    <span style="clear:both;"></span> 
  </div>
  {% endblock %}