<DIV id=header-top>
<DIV class=header-top-left>
<P align=left><STRONG>网络读书吧</STRONG> - 
本站提供各类免费<U>TXT</U><STRONG>小说下载</STRONG>，及时更新大量全本免费txt电子书，欢迎各位朋友经常光顾^_^！</P></DIV>
<DIV class=header-top-right><IMG alt=网络读书吧 
src="{{ theme.dir }}/image/bookmark.gif" border=0> <A 
href="javascript:window.external.addFavorite('http://www.txt99.com','网络读书吧');">加入收藏</A> 
┆ <IMG alt=网络读书吧 src="{{ theme.dir }}/image/home.gif" border=0><A 
onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.txt99.com');" 
href="http://www.txt99.com/#">设为首页</A> </DIV></DIV>
<DIV id=menu>
<DIV id=h1>
<UL>
  <LI><A title=分类管理 
  href="/admin/category">分类管理</A> </LI>
  <LI class=menu_txt></LI>
  <LI><A title=关键字管理 
  href="/admin/tag">关键字管理</A> </LI>
  <LI class=menu_txt></LI>
  <LI><A title=小说管理 
  href="/admin/book">小说管理</A> </LI>
  <LI class=menu_txt></LI>
  <LI><A title=推荐管理 
  href="/admin/manage">系统操作</A> </LI>
  <LI class=menu_txt></LI>
  </UL></DIV>
</DIV>