
<div id="page">
<div id="wrap">
<div class="secondaryHeader">
	<div class="sHBorder">
		<div class="sHLinks"><a href=# onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('{dede:global.cfg_cmsurl/}');">设为首页</a>&nbsp;|&nbsp;<a href='#' onclick='window.external.AddFavorite("{dede:global.cfg_cmsurl/}","{dede:global.cfg_webname/}")'>加入收藏</a>&nbsp;|&nbsp;<a href="/data/sitemap.html">网站地图</a>&nbsp;|&nbsp;<a href="/data/rssmap.html">rss订阅</a></div>
	</div>
</div>
<div class="topAD" style="height:95px;">
<table width="950" cellspacing="0">
<tr>
<td width="180">
<a href="/" title="{dede:global.cfg_webname/}">
<img src="{dede:global.cfg_templeturl/}/images/minilogo.gif" border="0" width="160" height="90"  alt="{dede:global.cfg_webname/}"/></a>
</td>
<td width="770"><!--E8AC1E8234FB-->
<!--菜单上部广告代码766*90-->
<div id="flashcontent_E8AC1E8234FB">
{dede:myad name='topimgad1'/}</div>
<!--广告代码结束-->
</td>
</tr>
</table>
</div></div>

<div id="channel_navbar"> 
<ul class="channel_navbar_list1">
<li class="on"><a href="{dede:global.cfg_cmsurl/}/" id="navtab_0">首页</a></li>
<!--栏目自动菜单-->
{dede:channel type='top'}
<li>
<a href='[field:typeurl/]' target=_blank>[field:typename/]</a></li>
{/dede:channel}

<!--栏目自动菜单结束-->


<!--<li><a href="/qinggan/index.html" id="navtab_4">情感</a></li>-->
<!--<li><a href="/html/nanren/index.html" id="navtab_9">男人</a></li>-->
<!--<li><a href="/gaoxiao/index.html" id="navtab_13">社区</a></li>-->
</ul>
</div>


 
</div>