<DIV id=page>
<DIV id=wrap>
<DIV class=secondaryHeader>
<DIV class=sHBorder>
<DIV class=sHLinks><A href="http://www.minitb.com/member/article_add.php" 
target=_blank>我要投稿</A>&nbsp;|&nbsp;<A 
onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('');" 
href="http://www.minitb.com/#">设为首页</A>&nbsp;|&nbsp;<A 
onclick='window.external.AddFavorite("","淘宝网导购_天猫商城_天猫网导购-迷你淘宝网是最专业的淘宝网购物导购网.")' 
href="http://www.minitb.com/#">加入收藏</A>&nbsp;|&nbsp;<A 
href="http://www.minitb.com/data/sitemap.html">网站地图</A>&nbsp;|&nbsp;<A 
href="http://www.minitb.com/data/rssmap.html">rss订阅</A></DIV></DIV></DIV>
<DIV style="HEIGHT: 95px" class=topAD>
<TABLE cellSpacing=0 width=950>
  <TBODY>
  <TR>
    <TD width=180><A title=淘宝网导购_天猫商城_天猫网导购-迷你淘宝网是最专业的淘宝网购物导购网. 
      href="http://www.minitb.com/"><IMG border=0 
      alt=淘宝网导购_天猫商城_天猫网导购-迷你淘宝网是最专业的淘宝网购物导购网. 
      src="/template/images/minilogo.gif" width=160 
      height=90></A> </TD>
    <TD width=770><!--菜单上部广告代码766*90-->
      <SCRIPT language=javascript 
      src="淘宝网导购_天猫商城_天猫网导购-迷你淘宝网是最专业的淘宝网购物导购网_files/ad_js.htm"></SCRIPT>

      <SCRIPT language=javascript 
      src="淘宝网导购_天猫商城_天猫网导购-迷你淘宝网是最专业的淘宝网购物导购网_files/ad_js(1).htm"></SCRIPT>
<!--广告代码结束--></TD></TR></TBODY></TABLE></DIV></DIV>
<DIV id=channel_navbar>
<UL class=channel_navbar_list1>
  <LI class=on><A id=navtab_0 href="http://www.minitb.com/">首页</A></LI><!--栏目菜单-->
  <LI><A title=天猫商城 href="http://www.sousougougou.com/" 
  target=_blank>天猫商城</A></LI>
  <LI><A title=淘宝店铺 href="http://www.minitb.com/taobaowangpu/">淘宝店铺</A></LI>
  <LI><A title=女人频道 href="http://www.minitb.com/nvren/">女人频道</A></LI>
  <LI><A title=男人频道 href="http://www.minitb.com/nanren/">男人频道</A></LI>
  <LI><A title=家居频道 href="http://www.minitb.com/jiaju/">家居频道</A></LI>
  <LI><A title=数码频道 href="http://www.minitb.com/shuma/">数码频道</A></LI>
  <LI><A title=母婴频道 href="http://www.minitb.com/muyingpindao/">母婴频道</A></LI>
  <LI><A title=食品特产 href="http://www.minitb.com/shipin/">食品特产</A></LI>
  <LI><A title=运动系列 href="http://www.minitb.com/yundongxilie/">运动系列</A></LI>
  <LI><A title=淘宝资讯 href="http://www.minitb.com/taobaozixun/">淘宝资讯</A></LI><!--栏目菜单结束--></UL></DIV></DIV>