body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{border:0;margin:0;padding:0}
body{background:#fff;color:#000}
ul,ol{list-style-type:none}
select,input{vertical-align:middle}
#pa{width:950px;overflow:hidden;margin:0 auto; text-align:left;}
.linkQuickJump{position:absolute;top:-1px;left:-1px}
.topNav{height:34px;overflow:hidden;zoom:1}
.hd_nav ul{width:950px;margin-left:6px;overflow:hidden;zoom:1}
.hd_nav li{float:left;line-height:14px;margin-left:-1px;padding:9px 8px 0 9px}
.hd_nav li#content_mainNav_log{padding-right:0;padding-left:0;width:85px}
#content_mainNav_uq_username{font-weight:700}
.hd_nav_log ul{width:950px;margin-left:0}
.hd_nav_log li{padding:9px 8px 0}
.blkTopGoogleSearch{height:34px;margin-bottom:8px;overflow:hidden;padding:10px 0 0}
.blkBreadcrumb{height:35px;overflow:hidden;zoom:1;width:640px}
.blkChannelLogo{float:left;overflow:hidden;padding:0 23px 0 13px}
.blkBreadcrumbNav{float:left;line-height:35px;color:#009;padding:0 0 0 22px}
.blkMediaLogo{float:right;padding:6px 0 0}
.blkContainer{float:left;width:640px;overflow:hidden}
.sidebar{float:right;width:300px;overflow:hidden}
.blkContainerPblk{overflow:hidden;zoom:1;margin:0 1px;padding:20px 0 0}
.blkContainerSblk{overflow:hidden;zoom:1;width:570px;padding:0 34px 20px}
.blkContainerSblk h1{height:35px;line-height:35px;overflow:hidden;text-align:center;font-family:黑体;font-size:20px;font-weight:400;color:#03005C}
.artInfo{padding-top:10px;overflow:hidden;line-height:14px;text-align:center;font-family:Arial, Helvetica, sans-serif}
.blkContainerSblkCon{margin-top:15px;line-height:23px;font-size:14px}
.blkContainerSblkCon img{border:1px #000 solid}
.blkContainerSblkCon p{font-size:14px;line-height:23px;margin:15px 0}
.blkContainerSblkCon h1,.blkContainerSblkCon h2,.blkContainerSblkCon h3,.blkContainerSblkCon h4,.blkContainerSblkCon h5,.blkContainerSblkCon h6{font-size:14px;font-weight:700;line-height:23px;margin:5px 0}
.blkContainerSblkCon_16 *,.blkContainerSblkCon_16 p,.blkContainerSblkCon_16 h1,.blkContainerSblkCon_16 h2,.blkContainerSblkCon_16 h3,.blkContainerSblkCon_16 h4,.blkContainerSblkCon_16 h5,.blkContainerSblkCon_16 h6{font-size:16px;line-height:26px}
.blkComment{line-height:35px;text-align:right;margin:0 20px 5px;padding:10px 12px 0 0}a.blkCommentLinkPost{text-decoration:none;padding:0 0 0 17px}
.blkContentBtmSearch{overflow:hidden;zoom:1;margin:10px 20px}
.btmSearch{ text-align:center;}
.keywordArea{padding:10px 0 3px 5px}
.blkOtherFunction{height:40px;overflow:hidden;zoom:1;margin:5px 20px 0;}
.blkOtherFunction a { color:#000099;}
.blkOtherFunction_1{float:left;width:199px;overflow:hidden;height:20px;line-height:20px;margin:9px 0 0}
.blkMessageBoard{float:left;padding:0 12px 0 7px}
.blkMessageBoard a{padding:0 0 0 19px}
.blkPhoneNum{float:left}
.blkOtherFunction_2,.blkOtherFunction_3,.blkOtherFunction_4,.blkOtherFunction_5,.blkOtherFunction_6{width:82px;float:left;overflow:hidden;line-height:20px;text-align:center;margin:9px 0 0;color:000099;}
.blkOtherFunction_3{width:70px}
.blkOtherFunction_6{width:65px}
.blkContentFooter{overflow:hidden;zoom:1;text-align:center;line-height:35px;font-family:Arial, Helvetica, sans-serif, 宋体}
.moduleSingleImg01{text-align:center;clear:both}
.moduleSingleImg01 img{display:block;margin:0 auto}
.moduleSingleImg01 p{line-height:214.28%;margin:0}
.moduleImgTxt01{clear:both;overflow:hidden;zoom:1;width:568px;margin:5px auto 15px}
.moduleImgTxt01Img{float:left;padding:8px}
.moduleImgTxt01Txt{float:left;width:322px;overflow:hidden;margin:5px 8px 0 10px}
.moduleImgTxt01Txt h3{line-height:35px;overflow:hidden;font-size:14px}
.moduleImgTxt01Txt p{font-size:14px;line-height:23px;margin:5px 0}
.moduleNewsImgTxt01{width:568px;overflow:hidden;zoom:1;clear:both;margin:5px auto 15px}.moduleNewsImgTxt01_headLine h2{height:30px;overflow:hidden;font-size:14px;background:url(../images/con_bg_standard_001.gif) no-repeat 10px -940px #f5f8fd;line-height:32px;color:#000;margin:3px;padding:0 0 0 23px}
.moduleNewsImgTxt01_headLine_b1{width:530px;margin:0 auto}
.moduleNewsImgTxt01_headLine_b1 h3{text-align:center;line-height:30px;font-size:14px}.moduleNewsImgTxt01_headLine_b2{width:530px;margin:0 auto;padding:8px 0 12px 10px}.moduleNewsImgTxt01_headLine_b2 li{font-size:14px;line-height:23px}
.moduleNewsImgTxt01_Tm_Ti{height:30px;overflow:hidden;font-size:14px;padding:0 0 5px 13px}.moduleNewsImgTxt01_Tm_Ti h3{line-height:32px;height:29px;overflow:hidden;font-size:14px}.moduleNewsImgTxt01_Tm_List{padding:0 0 0 13px}
.moduleNewsImgTxt01_Tm_List li{overflow:hidden;zoom:1;font-size:14px;padding:6px 10px 6px 0}.moduleNewsImgTxt01_Tm_List li .liTime{float:left;line-height:18px;padding:0 5px 0 10px}.moduleNewsImgTxt01_Tm_List li .liTi{float:left;line-height:18px;width:410px;padding:0 0 0 10px}.moduleNewsImgTxt01_Tm_List li .liTi h4{font-weight:400;height:23px;font-size:14px}.moduleNewsImgTxt01_Tm_List li .liTi .liTiInfo{font-size:12px;line-height:20px}.moduleNewsImgTxt01_Tim_Tl{float:left;width:365px;overflow:hidden;padding:0 10px 0 0}.moduleNewsImgTxt01_Tim_Tl .moduleNewsImgTxt01_Tm_Ti h3{border-top:none}.moduleNewsImgTxt01_Tim_Tl_List{overflow:hidden;padding:3px 5px 8px 9px}
.moduleNewsImgTxt01_Tim .moduleNewsImgTxt01_Tm_Ti{padding-bottom:0}
.moduleNewsImgTxt01_Tim_Il{float:right;width:165px;overflow:hidden;padding-top:20px}.moduleNewsImgTxt01_Tim_Il_01{padding:0 0 8px}
.moduleNewsImgTxt01_Tim_Il_01_I a{display:block;overflow:hidden;text-align:center;margin:0 auto 5px}.moduleNewsImgTxt01_Tim_Il_01_I a img{display:block;background:#fff;padding:4px}.moduleNewsImgTxt01_Tim_Il_01_I a span{display:block;text-align:center;line-height:20px;padding:5px 0 0}.moduleNewsImgTxt01_Tim_Il_01 p{line-height:20px;font-size:12px}
.moduleNewsImgTxt01_Tim_Il_01_V a{display:block;overflow:hidden;width:152px;height:130px;margin:0 auto 5px}.moduleNewsImgTxt01_Tim_Il_01_V a img{display:block;padding:5px 5px 8px}.moduleNewsImgTxt01_Tim_Il_01_V a span{text-align:center;display:block;line-height:20px}.moduleNewsImgTxt01_Tim_Il_01_D a{display:block;overflow:hidden}
.moduleNewsImgTxt01_Tim_Il_01_D a img{display:block;margin:0 auto 5px}
.moduleNewsImgTxt01_Pim{overflow:hidden;zoom:1;margin:0 10px 0 15px;padding:5px 0 0}.moduleNewsImgTxt01_Pim_IL{overflow:hidden;zoom:1;padding:0 0 5px}
.moduleNewsImgTxt01_Pim_IL_blk{float:left;overflow:hidden;width:126px;padding:0 3px 0 6px}.moduleNewsImgTxt01_Pim_IL_blk a img{background:#fff;display:block;padding:2px}.moduleNewsImgTxt01_Pim_IL_blk a span{text-align:center;line-height:35px;display:block}.moduleNewsImgTxt01_Pm{overflow:hidden;zoom:1;padding:5px 10px 25px 15px}
.moduleNewsImgTxt01_Pm p{line-height:200%;font-size:12px}
.moduleGoTopic{margin:10px auto}
.moduleGoTopic td{text-align:center;line-height:28px;font-size:14px;padding:2px 26px 0}
.blkCommentBox{color:#343434;background:#F5F8FD}
.blkPostCommentBox{background:url(../images/con_mj_001.gif) repeat-x 0 -200px;margin:0 10px 10px}.bPCB_t1{overflow:hidden;zoom:1;height:30px;line-height:32px;padding:0 0 0 8px}
.bPCB_b1_1{padding-bottom:5px}
.bPCB_b1_1 textarea{width:100%;height:100px;border:1px #c8d8f1 solid;background:#fff}.bPCB_b1{background:#F5F8FD}
.bPCB_b1_2{height:25px;overflow:hidden;zoom:1;padding:0 0 0 5px}
.bPCB_b1_2 span{float:left;line-height:25px}
.bPCB_b1_2_2 input,.bPCB_b1_2_4 input{width:98px;height:17px;border:1px #c8d8f2 solid;background:#fff;color:#8a8a8a;line-height:17px;margin:0 5px 0 0;padding:0}
.bPCB_b1_2 span.bPCB_b1_2_7{float:right;margin:0}
.bPCB_b1_2 span.bPCB_b1_2_7 input{width:130px}
.MPartA{width:640px;zoom:1;overflow:hidden;text-align:left}
.MPartA .P_Left{width:315px;float:left}
.MPartA .P_Right{width:315px;float:left;margin-left:10px}
.Mblk_01{zoom:1;overflow:hidden;padding-bottom:8px;border-style:solid;border-width:0 1px 1px}
.Mblk_01 .b_left{margin:10px 0 0;padding:0 6px 0 10px}
.Mblk_02{border-style:solid;border-width:0 1px 1px;padding:8px 0 8px 6px}
.Mblk_03{border-style:solid;border-width:0 1px 1px}
.Mblk_03 ul li{width:140px;float:left;font-size:12px}
.Mblk_04{zoom:1;overflow:hidden;border-style:solid;border-width:0 1px 1px}
.Mblk_04 .b_box1{width:211px;padding-right:1px;height:138px;float:left;border-style:solid;border-width:0 1px 0 0}
.Mblk_04 .b_box2{width:212px;float:left}
.Mblk_04 .b_cont{color:#009;padding:8px 8px 0}
.Mblk_04 .b_cont .b_txt{text-align:center;padding:0 0 3px}
.Mblk_04 .b_cont .b_pic img{border:1px solid #000}
.Mblk_05{zoom:1;overflow:hidden;border-style:solid;border-width:0 1px}
.Mblk_05 .b_cont{padding:8px}
.Mblk_05 .b_box{line-height:25px;cursor:pointer}
.Mblk_05 .line_1{color:#009;text-decoration:underline;padding-left:1em;background-image:url(../images/con_mj_001.gif);background-repeat:no-repeat}
.Mblk_05 ul{zoom:1;overflow:hidden;clear:both;border-style:solid;border-width:1px 0 0;padding:5px 0 3px 10px}
.Mblk_05 ul li{width:138px;float:left}
.Mblk_06{zoom:1;overflow:hidden;border-style:solid;border-width:0 1px 1px;padding:8px 0 8px 8px}.Mblk_07{zoom:1;overflow:hidden;border-style:solid;border-width:0 1px;padding:8px 0 8px 8px}
.Mblk_08{zoom:1;overflow:hidden;border-style:solid;border-width:1px 1px 0}
.Mblk_08_1{background:#fff}
.Mblk_08_1 .search{border-style:solid;border-width:0 1px 1px;padding:8px 0 8px 10px}
.Mblk_08_1 .input_01{height:16px;width:210px;border-style:solid;border-width:1px;padding:2px 0 1px 10px}.Mblk_08_1 .button_01{width:53px;height:21px;border:none}
.Mblk_08_1 table{width:100%;border-style:solid;border-width:0 0 0 1px}
.Mblk_08_1 th,.Mblk_08_1 td{line-height:20px;border-style:solid;border-width:0 1px 1px 0;padding:3px 0}.Mblk_08_1 th{width:35px;text-align:center;color:#363636;font-weight:400;vertical-align:top}.Mblk_08_1 td{color:#009}
.Mblk_08_1 td table{border:none;width:256px;margin-left:6px}
.Mblk_08_1 td td{border:none;padding:0}
.Mblk_08_1 .BigButton{zoom:1;overflow:hidden;padding:10px 0 0}
.Mblk_08_1 .BigButton a{float:left;height:43px;line-height:43px;font-size:14px;font-weight:700;color:#009;text-decoration:none;background:url(../images/con_mj_002.gif) no-repeat;padding:4px 0 0 54px}.Mblk_08_1 .BigButton a.But_01{width:94px;background-position:0 -475px}
.Mblk_08_1 .BigButton a.But_02{width:89px;background-position:-150px -475px;margin-left:9px}.Mblk_08_1 .BigButton a.But_03{width:94px;background-position:0 -525px;margin-top:6px}
.Mblk_08_1 .BigButton a.But_04{width:89px;background-position:-150px -525px;margin-left:9px;margin-top:6px}.Mblk_09{width:548px;zoom:1;overflow:hidden;font-size:12px;line-height:20px;border-style:solid;border-width:1px;margin:15px auto 8px;padding:0 10px 10px}
.Mblk_09 h2{line-height:24px;padding-left:6px;font-size:14px;clear:both;padding-top:10px;border-style:dashed;border-width:0 0 1px}
.Mblk_09 .b_left{width:272px;float:left;margin-top:8px;padding-bottom:3px;border-style:dashed;border-width:0 1px 0 0}
.Mblk_09 .b_right{width:262px;padding-left:10px;float:left;margin-top:8px;padding-bottom:3px}
.Mblk_10{width:570px;zoom:1;overflow:hidden;font-size:12px;line-height:20px;margin:15px auto}
.Mblk_10 h2{font-size:14px;line-height:26px;background:url(../images/con_bg_standard_001.gif) no-repeat 5px -941px;padding:2px 0 0 18px}
.Mblk_10 h2 a{font-weight:400}
.Mblk_10 ul{padding:10px 0 10px 10px}
.Mblk_10 .c_pt_02{width:335px;overflow:hidden;float:left;padding-left:8px}
.Mblk_10 .list_009_f12{float:left;width:210px;padding-top:15px}
.Mblk_11{width:568px;zoom:1;overflow:hidden;font-size:12px;line-height:20px;border-style:solid;border-width:1px;margin:7px auto 8px}
.Mblk_11 .b_cont1{padding-bottom:10px;border-style:solid;border-width:0 0 1px;margin:10px 8px 0}.Mblk_11 .b_cont1 h2{font-size:14px;font-weight:400;line-height:30px;padding-left:10px}
.Mblk_11 .b_cont2{padding:10px}
.Mblk_11 .b_cont2 h2{height:26px;line-height:26px}
.Mblk_11 .b_cont2 h2 .title{float:left;padding-left:5px;font-size:14px}
.Mblk_11 .b_cont2 h2 .more{float:right;font-size:12px;font-weight:400;padding:0 5px 0 15px}
.Mblk_11 .b_cont2 h2 .more a{color:#009;text-decoration:none}
.Mblk_11 .t_info{line-height:20px;color:#666;padding:4px 0 0 5px}
.Mblk_11 .t_txt{line-height:20px;padding:2px 0 2px 5px}
.Mblk_12{width:570px;zoom:1;overflow:hidden;margin:0 auto}
.Mblk_12 .line{height:0;font-size:0;overflow:hidden;margin-left:14px;border-style:dashed;border-width:1px 0 0}
.Mblk_12 .b_left{width:344px;float:left;margin-top:20px;border-style:dashed;border-width:0 1px 0 0}.Mblk_12 .b_right{width:190px;float:left;margin:20px 0 0 26px}
.Mblk_12 h3{line-height:20px;padding-left:14px;font-size:14px;background:url(../images/con_mj_002.gif) no-repeat -292px -396px}
.Mblk_12 .form{font-size:14px;line-height:24px;padding:10px 0 10px 14px}
.Mblk_12 .form p{font-size:14px;line-height:24px;height:24px}
.Mblk_12 .form p input{vertical-align:baseline}
.Mblk_12 .form .button_01{border:none;width:77px;height:28px;color:#fff;background:url(../images/con_mj_002.gif) no-repeat -150px -425px;margin-top:10px}
.Mblk_12 .table_01{margin:20px auto 0}
.Mblk_12 .b_box{background:url(../images/con_mj_001.gif) repeat-x 0 -250px;height:62px;white-space:nowrap;text-align:center}
.Mblk_12 .b_box .b_l{float:left;background:url(../images/con_mj_001.gif) no-repeat 0 -325px;height:54px;padding:8px 12px 0}
.Mblk_12 .b_box .b_r{float:left;background:url(../images/con_mj_001.gif) no-repeat 100% -400px;height:54px;border-left:1px solid #c8dcf5;font-size:14px;padding:8px 12px 0}
.Mblk_12 .b_box .num{font:18px/24px Arial;color:#e66405}
.Mblk_12 .b_box strong{font-size:14px;line-height:24px}
.Mblk_12 h4{font-size:14px;height:24px;line-height:24px;margin-top:20px;padding-left:14px}
.Mblk_12 h4 .title{float:left;padding-right:10px}
.Mblk_12 h4 .t_line{height:8px;font-size:0;line-height:0;overflow:hidden;display:block;border-style:dashed;border-width:0 0 1px}
.Mblk_12 h5{line-height:20px;padding-left:14px;font-weight:400;font-size:14px;background:url(../images/con_mj_002.gif) no-repeat -292px -396px;margin-top:5px}
.Mblk_12 .list_009_f14{padding:10px 0 0}
.MTitle_01 .title{font-size:14px;line-height:22px;float:left;padding:2px 0 0 10px}
.MTitle_01 ul{margin-bottom:10px}
.MTitle_01 ul li{width:274px; float:left; line-height:25px; background:url(../images/ico.gif) no-repeat 10px center; padding-left:20px}
.MTitle_01 .menu label{float:left;width:54px;text-align:center;line-height:22px;cursor:pointer;border-style:solid;border-width:0 0 0 1px;padding:2px 0 0}
.MTitle_01 .menu label.selected{border:none;padding-bottom:5px;margin-bottom:-5px;position:relative;z-index:2;margin-right:-1px;padding-left:1px}
.MTitle_01 .more{float:right;line-height:22px;padding:2px 10px 0 0}
.MTitle_01 .vmenu{float:right;margin-top:5px;margin-right:5px}
.MTitle_02{height:24px}.MTitle_02 h2{font-size:14px;line-height:24px;padding-left:14px;background:url(../images/con_mj_002.gif) no-repeat -292px -344px}
.M_Menu_01 label{float:left;width:85px;text-align:center;line-height:22px;cursor:pointer;font-size:14px;font-weight:700;border-style:solid;border-width:0 1px 0 0;padding:2px 0 0}
.M_Menu_01 label.selected{border:none;padding-bottom:5px;margin-bottom:-5px;position:relative;z-index:2;padding-right:1px}.M_Menu_02{height:19px;color:#000;border-style:solid;border-width:0 0 1px}.M_Menu_02 label{float:left;width:62px;text-align:center;line-height:17px;cursor:pointer;border-style:solid;border-width:0 1px 0 0;padding:2px 0 0}
.M_Menu_02 label.selected{font-weight:700;width:72px;background:#fff;padding-bottom:1px;position:relative;z-index:2;margin-bottom:-1px}
.M_Menu_02 .more{float:right;line-height:17px;padding:2px 8px 0 0}
.M_Menu_03{height:24px;_overflow:hidden;width:298px;border-style:solid;border-width:0 1px 1px}.M_Menu_03 .m_cont{height:24px;_width:350px}
.M_Menu_03 label{float:left;width:60px;line-height:22px;text-align:center;margin-left:-1px;cursor:pointer;border-style:solid;border-width:0 0 0 1px;padding:2px 0 0}
.M_Menu_03 label.selected{border:none;background-image:url(../images/con_mj_002.gif);background-repeat:no-repeat;padding-bottom:5px;margin-bottom:-5px;position:relative;z-index:2;display:inline;width:59px}.MTitle_04{height:30px;overflow:hidden;zoom:1}
.MTitle_04 h2.title_2{overflow:hidden;zoom:1;font-size:12px;font-weight:400}
.MTitle_04 .menu_2{overflow:hidden;zoom:1;border-left:1px #c8d8f1 solid;display:block}
.MTitle_04 .menu_2 label{height:30px;overflow:hidden;background:url(../images/con_bg_standard_001.gif) no-repeat -1px -1000px;text-align:center;line-height:28px;width:100px;float:left;cursor:pointer}
.MTitle_04 .menu_2 label.selected{background-position:-1px -1050px}
#GoogleAd .b_cont{border-style:solid;border-width:0 1px 1px;padding:8px 0 8px 12px}
#GoogleAd .b_cont .b_box{font-size:14px;line-height:20px;cursor:pointer}
#GoogleAd .b_cont .line_3{color:green;font-size:12px;line-height:16px}
.Ad_01{border-style:solid;border-width:1px;padding:10px 0 0}
.Ad_01 ul li{width:135px;float:left}
.Ad_02 .b_box{line-height:18px;cursor:pointer}
.topList_01{padding-left:2px}.topList_02 ol li{line-height:22px;height:23px;padding-left:10px}.topList_02 .Ico_Down{width:27px;height:13px;overflow:hidden;float:right;margin-right:10px;display:inline;background:url(../images/con_mj_002.gif) no-repeat -141px -324px}
.topList_02 .Ico_Up{width:27px;height:13px;overflow:hidden;float:right;margin-right:10px;display:inline;background:url(../images/con_mj_002.gif) no-repeat -191px -324px}
.topList_02 .Ico_New{width:27px;height:13px;overflow:hidden;float:right;margin-right:10px;display:inline;background:url(../images/con_mj_002.gif) no-repeat -250px -325px}
.topList_03 ol li{line-height:22px;height:23px;padding-left:2px}
.topList_03 .Ico_Down{overflow:hidden;float:right;margin-right:5px;display:inline;background:url(../images/con_mj_002.gif) no-repeat 0 -844px;color:#999;font-size:11px;width:36px;text-align:right}
ol label{width:13px;height:11px;background:url(../images/con_mj_002.gif) no-repeat 0 0;overflow:hidden;float:left;margin:4px 5px 0 2px}
ol .No01{background-position:0 -100px}
ol .No02{background-position:-50px -100px}
ol .No03{background-position:-100px -100px}
ol .No04{background-position:-150px -100px}
ol .No05{background-position:-200px -100px}
ol .No06{background-position:-250px -100px}
ol .No07{background-position:0 -150px}
ol .No08{background-position:-50px -150px}
ol .No09{background-position:-100px -150px}
ol .No10{background-position:-150px -150px}
ol .No11{background-position:-250px -700px}
ol .No12{background-position:-200px -700px}
ol .No13{background-position:0 -750px}
ol .No14{background-position:-50px -750px}
ol .No15{background-position:-100px -750px}
ol .No16{background-position:-150px -750px}
ol .No17{background-position:-200px -750px}
ol .No18{background-position:-250px -750px}
ol .No19{background-position:0 -800px}
ol .No20{background-position:-50px -800px}
.histogram{zoom:1;overflow:hidden;padding:24px 0 0}
.histogram .pillar{width:102px;height:10px;font-size:0;line-height:0;overflow:hidden;float:left;clear:both;margin-top:7px;border-style:solid;border-width:1px;padding:1px 0}
.histogram .pillar label{display:block;height:8px;overflow:hidden;border-style:solid;border-width:1px}.histogram .pillar label span{display:block;height:7px;border-style:solid;border-width:1px 1px 0}.histogram .color01{background:#507fc9;border-color:#396daf}
.histogram .color01 span{border-color:#8cb4f7}
.histogram .color02{background:#5cbd5b;border-color:#459244}
.histogram .color02 span{border-color:#bae874}
.histogram .color03{background:#e5ab6e;border-color:#be905b}
.histogram .color03 span{border-color:#f5cb97}
.histogram .num{float:left;width:50px;margin-left:12px;line-height:27px;font-size:14px}
.c_v_01 .c_box{width:49.99%;float:left}
.c_v_01 .c_pic{width:121px;margin:0 auto;padding:5px 0 0}
.c_v_01 .c_pic a{display:block;width:121px;height:97px;text-align:center;margin:0 auto;padding:4px 0 0}.c_v_01 .c_txt{line-height:20px;padding:5px 0}
.c_p_01 .c_pic{width:49.99%;float:left;padding:5px 0 0}
.c_p_01 .c_pic img{display:block;border-style:solid;border-width:1px;margin:0 auto;padding:4px}.c_p_01 .c_pic p{line-height:20px;padding:3px 0 8px}
.c_p_02 .c_pic{width:33.33%;float:left;padding:5px 0 0}
.c_p_02 .c_pic img{display:block;border-color:#c8cfd9;border-style:solid;border-width:1px;margin:0 auto;padding:2px}.c_p_02 .c_pic p{line-height:20px;padding:3px 0 5px}
.c_pt_01 .c_pic{float:left;width:81px;text-align:center;padding:2px 0 0}
.c_pt_01 .c_pic img{background:#fff;border-style:solid;border-width:1px;padding:4px}
.c_pt_01 .c_txt{margin-left:81px;padding-left:0;margin-right:8px}
.c_pt_01 .c_txt h4{font-size:14px;line-height:20px}
.c_pt_01 .c_txt p{font-size:12px;line-height:166%;margin:0}
.c_pt_01 .c_txt .more{text-align:right}
.c_pt_02{zoom:1;overflow:hidden;padding-left:12px}
.c_pt_02 .c_pic{float:left;width:138px;text-align:center;padding:15px 0 0}
.c_pt_02 .c_pic img{background:#fff;border-style:solid;border-width:1px;padding:2px}
.c_pt_02 .c_txt{margin-left:138px;padding-left:0;padding-top:15px}
.c_pt_02 .c_txt h4{font-size:14px;font-weight:400;line-height:24px}
.c_pt_02 .c_txt p{line-height:20px;color:#666}
.c_t_01{margin-left:14px}
.c_t_01 li{line-height:29px;font-size:14px;border-style:dashed;border-width:0 0 1px}
.c_t_01 li .time{float:left;width:90px;text-align:center;line-height:15px;margin-top:7px;height:15px;margin-right:8px;border-style:solid;border-width:0 1px 0 0;padding:0 2px 0 0}
.c_t_02{line-height:20px;text-indent:2em;padding:10px 20px 0 14px}
.c_t_03{border:1px dashed #ededed;color:#010290;font-size:14px;margin:20px 0;padding:0 14px}
.c_t_04 ul{float:left;width:280px;font-size:14px}
.list_video li{padding-left:22px;background:url(../images/con_mj_002.gif) no-repeat -275px -145px;line-height:20px}
.list_009_f12 li{padding-left:1em;background-image:url(../images/con_mj_001.gif);background-repeat:no-repeat}
.list_009_f12 .author{width:4.5em;float:right}
.list_009_f14{line-height:23px}
.list_009_f14 li{padding-left:1em;font-size:14px;background-image:url(../images/con_mj_001.gif);background-repeat:no-repeat}
.list_009_f14 .author{width:4.5em;float:right;font-size:12px}
.list_r2 li{width:130px;float:left}
.PostXq{height:21px;overflow:hidden;text-align:left}
.PostXq-Btn-Blk{border:1px #aeb7c3 solid;background:#f3f9fe}
.PostXq-Btn{width:54px;height:40px;overflow:hidden;background:url(../images/news_xq_ws_014.gif) repeat-x}.PostXq-Btn-Ln{width:2px;background:url(../images/news_xq_ws_013.gif) repeat-y #fff}.PostXq-Btn a{width:54px;height:40px;overflow:hidden;display:block;color:#009;text-decoration:none;text-align:center}.PostXq-Btn a:hover{text-decoration:underline;color:#009}
.PostXq-Btn a img{margin:2px 0 0}
.PostXq-Btn a span{display:block;text-align:center;padding:2px 0 0}
a.PostXq-Btn-Jm1{width:111px;height:25px;line-height:26px;overflow:hidden;display:block;text-align:center;background:url(../images/news_xq_ws_015.gif) no-repeat #b8d0e9;text-decoration:none;color:#000}.XqJg-Blk{width:559px;height:168px;overflow:hidden}
.XqJg-Blk h2{text-align:left;height:26px;line-height:28px;overflow:hidden;font-size:12px;font-weight:400;color:#000;padding:0 0 0 13px}
.XqJg-Blk-V{width:559px}
.XqJg-Blk-V td{width:50px}
.XqJg-Blk-V-t{width:22px;height:79px;background:url(../images/news_xq_ws_017.gif) no-repeat;vertical-align:bottom}
.XqJg-Blk-V-t-r{background:url(../images/news_xq_ws_019.gif) repeat-y 16px 0}
.XqJg-Blk-V-b{text-align:center;height:43px;overflow:hidden}
.XqJg-Blk-V-b span{display:block;font-size:14px;line-height:16px;padding:5px 0 0}
.XqJg-Blk-V-b img{margin:5px 0 0}
a.PostXq-Btn-Jm{width:111px;height:25px;line-height:26px;overflow:hidden;display:block;text-align:center;background:url(../images/news_xq_ws_015.gif) no-repeat #b8d0e9;text-decoration:none;color:#000;margin:0}
* a.linkRed03,* a.linkRed03:visited{color:#c00;text-decoration:none}
* a.linkRed03:hover,* a.linkRed03:active,* a.linkRed03:focus{color:red;text-decoration:none}
a.linkBlack:link,a.linkBlack:visited{color:#000!important}
a.linkWhite:link,a.linkWhite:visited{color:#fff!important}
a.linkWhite:hover{color:#666!important!important}
a.videoNews{background:url(../images/unfcn_mj_01.gif) no-repeat 100% 50%;padding-right:18px;zoom:1}
a.videoNewsLeft{background:url(../images/unfcn_mj_01.gif) no-repeat -19982px 50%;padding-left:18px;zoom:1}
.HSpace_1{height:1px;overflow:hidden;clear:both;font-size:0;background:#fff}
.HSpace_2{height:2px;overflow:hidden;clear:both;font-size:0;background:#fff}
.HSpace_3{height:3px;overflow:hidden;clear:both;font-size:0;background:#fff}
.HSpace_4{height:4px;overflow:hidden;clear:both;font-size:0;background:#fff}
.HSpace_5{height:5px;overflow:hidden;clear:both;font-size:0;background:#fff}
.HSpace_6{height:6px;overflow:hidden;clear:both;font-size:0;background:#fff}
.HSpace_7{height:7px;overflow:hidden;clear:both;font-size:0;background:#fff}
.HSpace_8{height:8px;overflow:hidden;clear:both;font-size:0;background:#fff}
.HSpace_9{height:9px;overflow:hidden;clear:both;font-size:0;background:#fff}
.HSpace_10{height:10px;overflow:hidden;clear:both;font-size:0;background:#fff}
.HSpace_nbg_1{height:1px;overflow:hidden;clear:both;font-size:0}
.HSpace_nbg_2{height:2px;overflow:hidden;clear:both;font-size:0}
.HSpace_nbg_3{height:3px;overflow:hidden;clear:both;font-size:0}
.HSpace_nbg_4{height:4px;overflow:hidden;clear:both;font-size:0}
.HSpace_nbg_5{height:5px;overflow:hidden;clear:both;font-size:0}
.HSpace_nbg_6{height:6px;overflow:hidden;clear:both;font-size:0}
.HSpace_nbg_7{height:7px;overflow:hidden;clear:both;font-size:0}
.HSpace_nbg_8{height:8px;overflow:hidden;clear:both;font-size:0}
.HSpace_nbg_9{height:9px;overflow:hidden;clear:both;font-size:0}
.HSpace_nbg_10{height:10px;overflow:hidden;clear:both;font-size:0}
.line_c8d8f2_1px{height:1px;overflow:hidden;clear:both;font-size:0;background:#c8d8f2}
.dotLine01{height:1px;overflow:hidden;clear:both;font-size:0;background:none;border-bottom:1px #c8d8f2 dotted;margin:5px 0}
.MainBorderBottom{height:1px;overflow:hidden;clear:both;font-size:0;background:url(../images/con_bg_standard_003.gif) no-repeat}
.dotLine02{height:1px;overflow:hidden;clear:both;font-size:0;background:none;border-bottom:1px #c8d8f2 dashed;margin:5px 0}
div.blkOtherFunction_5{border-right:none;width:60px}
div.blkOtherFunction_4{width:60px}
td,p,li,select,input,textarea,div,.blkContainerSblkCon center,.blkContainerSblkCon_12 *,.blkContainerSblkCon_12 p,.blkContainerSblkCon_12 h1,.blkContainerSblkCon_12 h2,.blkContainerSblkCon_12 h3,.blkContainerSblkCon_12 h4,.blkContainerSblkCon_12 h5,.blkContainerSblkCon_12 h6{font-size:12px;line-height:20px}
a,a:visited,#GoogleAd .b_cont .line_1,.Ad_02 .line_1{color:#009;text-decoration:underline}
a:hover,a:active,.MTitle_01 a:hover,.MTitle_01 a.fred:link,.MTitle_01 a.fred:visited,* a.linkRed02,* a.linkRed02:visited{color:#c00;text-decoration:underline}
.adNone,div.blkOtherFunction_6{display:none}
.hd_nav li#content_mainNav_log span,.Mblk_09 .other,.MTitle_01 .menu{float:right}
.Main,.moduleNewsImgTxt01_Tm_List ul{overflow:hidden;zoom:1}
.artInfo a,.artInfo a:visited,.blkContainerSblkCon a,.blkContainerSblkCon a:visited,.blkContentFooter a,.blkContentFooter a:visited,.moduleGoTopic a,.moduleGoTopic a:visited,.Mblk_08_1 a:link,.Mblk_08_1 a:visited,.c_v_01 .c_txt a:link,.c_v_01 .c_txt a:visited,.c_pt_02 .c_txt h4 a:link,.c_pt_02 .c_txt h4 a:visited,* a.akey,* a.akey:visited{text-decoration:none}
.artInfo a:hover,.artInfo a:active,.blkContainerSblkCon a:hover,.blkContainerSblkCon a:active,a.blkCommentLinkPost:hover,a.blkCommentLinkPost:active,.blkOtherFunction a,.blkOtherFunction a:visited,.blkOtherFunction a:hover,.blkOtherFunction a:active,.blkContentFooter a:hover,.blkContentFooter a:active,.blkVideoLink a:hover span,.blkVideoLink a:active span,.blkVideoLinkNews a:hover span,.blkVideoLinkNews a:active span,.moduleGoTopic a:hover,.moduleGoTopic a:active,.Mblk_08_1 a:hover,.c_v_01 .c_txt a:hover,.c_pt_02 .c_txt h4 a:hover,* a.akey:hover,* a.akey:active{text-decoration:underline}
.blkContainerSblkCon_14 *,.blkContainerSblkCon_14 p,.blkContainerSblkCon_14 h1,.blkContainerSblkCon_14 h2,.blkContainerSblkCon_14 h3,.blkContainerSblkCon_14 h4,.blkContainerSblkCon_14 h5,.blkContainerSblkCon_14 h6,.Mblk_12 .b_box .b_r p{font-size:14px;line-height:23px}
.blkOtherFunction_4,.blkOtherFunction_5{width:45px}
.moduleContentSummary,.moduleParagraph{overflow:hidden;zoom:1;line-height:23px;font-size:14px;display:inline}
.moduleSingleImg01 a,.moduleNewsImgTxt01_Pim_IL_blk a{display:block}
.blkVideoLink,.blkVideoLinkNews{float:left;width:128px;height:127px;overflow:hidden;margin:7px 18px 12px 0}
.blkVideoLink a,.blkVideoLinkNews a{display:block;width:128px;height:127px;overflow:hidden;text-decoration:none}
.blkVideoLink a img,.blkVideoLinkNews a img{display:block;border:none;width:120px;height:90px;padding:5px 5px 9px 4px}
.blkVideoLink a span,.blkVideoLinkNews a span{display:block;line-height:20px;text-align:center}
.moduleNewsImgTxt01_Tm,.moduleNewsImgTxt01_Tim{overflow:hidden;zoom:1;padding:0 10px 10px 15px}
.moduleNewsImgTxt01_headLine,.Mblk_05 .line_2,.Ad_02 .line_2,.list_009_f12 .author a:link,.list_009_f12 .author a:visited,.list_009_f14 .author a:link,.list_009_f14 .author a:visited{color:#666}
.moduleNewsImgTxt01_headLine_b1 p,.list_video2 li,.list_009_f12{line-height:20px}
.moduleNewsImgTxt01_Tim_Il_01_D,.Mblk_04 .b_cont .b_pic,.Ad_01 div{text-align:center}
.Mblk_03 ul,.Ad_01 ul,.c_t_04{zoom:1;overflow:hidden;padding:10px 0 10px 10px}
.Mblk_05 .line_3,.Ad_02 .line_3{color:green;line-height:20px}
.Mblk_08_1 .BigButton a:hover,.Mblk_11 .b_cont2 h2 .more a:hover,.M_Menu_01 a:hover,.M_Menu_02 a:hover,* a.linkRed01,* a.linkRed01:visited,* a.linkRed01:hover,* a.linkRed01:active,* a.linkRed01:focus,* a.linkRed02:hover,* a.linkRed02:active,* a.linkRed02:focus{color:red;text-decoration:underline}
.Mblk_12 .b_box a:link,.Mblk_12 .b_box a:visited,#GoogleAd .b_cont .line_2{color:#000}
.Mblk_12 .b_box a:hover,.list_009_f12 .author a:hover,.list_009_f14 .author a:hover,* .f_f00{color:red}
.MTitle_01,.M_Menu_01{height:24px;border-style:solid;border-width:1px}
.MTitle_01 a:link,.MTitle_01 a:visited,.M_Menu_01 a:link,.M_Menu_01 a:visited,.M_Menu_02 a:link,.M_Menu_02 a:visited{color:#000;text-decoration:none}
.topList_02,.topList_03,.c_pt_01,.list_r2{zoom:1;overflow:hidden}
.topList_02 ol,.topList_03 ol{float:left;width:49.99%}
.c_v_01,.c_p_01,.c_p_02{zoom:1;overflow:hidden;text-align:center;padding:0 8px 0 0}
.list_video,.list_video2{padding-left:2px;padding-right:15px}
.list_video li .count,.list_video2 li .count{float:right;color:#666}
.list_009_f12 .time,.list_009_f14 .time{font-size:.85em;color:#666}
a.PostXq-Btn-Jm1:hover,a.PostXq-Btn-Jm:hover,* .f_c00,#media_name{color:#c00}
a.linkBlack:hover,a.linkGray:link,a.linkGray:visited,a.linkGray:hover,.linkGray,.linkGray a:link,.linkGray a:visited,.linkGray a:hover{color:#666!important}div.blkOtherFunction_2,div.blkOtherFunction_3{width:90px}
#GoogleAd .b_cont .line_1{color:#009;text-decoration:underline;font-size:14px}
.boxS1{background:url(../images/con_eladlies_cl_001.gif) no-repeat;width:57px;height:64px;text-align:center;float:left;margin:0 0 0 8px}
.boxS1Num{font-size:16px;font-family:Arial;height:40px;line-height:40px;cursor:pointer;font-weight:700}
.boxS1Num2{background:url(../images/con_eladlies_cl_002.gif) no-repeat 50% 50%;height:40px;line-height:40px;cursor:pointer}
.boxS1 a{text-decoration:none;display:block;height:100%}
.blkS2{height:64px;padding:25px 0 0}
.blkS2 table{width:206px}
.clearit{clear:both;font-size:0;line-height:0;height:0}
.topList_01 li,.boxS1Info{line-height:22px}

.pb{zoom:1;}
.pb textarea{font-size:14px; margin:10px; font-family:"宋体"; background:#FFFFEE; color:#000066}
.pb_t{line-height:30px; font-size:14px; color:#000; text-align:center;}

/* 分页 */
.dede_pages{
}
.dede_pages ul{
	float:left;
	padding:12px 0px 12px 16px;
}
.dede_pages ul li{
	float:left;
	font-family:Tahoma;
	line-height:17px;
	margin-right:6px;
}
.dede_pages ul li a{
	float:left;
	padding:2px 4px 2px;
	color:#666;
	border-bottom:1px solid #EEE;
}
.dede_pages ul li a:hover{
	color:#690;
	text-decoration:none;
	padding:2px 4px 1px;
	border-bottom:2px solid #690;
}
.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	color:#F63;
	padding:2px 4px 1px;
	border-bottom:2px solid #F63;
	font-weight:bold;
}
.dede_pages .pageinfo{
	float:right;
	line-height:21px;
	padding:12px 10px 12px 16px;
	color:#999;
}
.dede_pages .pageinfo strong{
	color:#666;
	font-weight:normal;
	margin:0px 2px;
}

.pagebox{zoom:1;overflow:hidden; font-size:12px; font-family:"宋体",sans-serif;}
.pagebox span{float:left; margin-right:2px; overflow:hidden; text-align:center; background:#fff;}
.pagebox span ul{
	float:left;
	padding:12px 0px 12px 16px;
}
.pagebox span ul li{
	float:left;
	font-family:Tahoma;
	line-height:17px;
	margin-right:6px;
}
.pagebox span ul li a{display:block; zoom:1; overflow:hidden; _float:left;}
.pagebox span.pagebox_pre_nolink ul li{border:1px #ddd solid; width:53px; height:21px; *height:21px; line-height:21px; text-align:center; color:#999; cursor:default;}
.pagebox span.pagebox_pre ul li{color:#3568b9; height:23px;}
.pagebox span.pagebox_pre a,.pagebox span.pagebox_pre a:visited,.pagebox span.pagebox_next a,.pagebox span.pagebox_next a:visited{border:1px #cfcbc2 solid; color:#7d7b6f; text-decoration:none; text-align:center; width:53px; cursor:pointer; height:21px; line-height:21px;}
.pagebox span.pagebox_pre a:hover,.pagebox span.pagebox_pre a:active,.pagebox span.pagebox_next a:hover,.pagebox span.pagebox_next a:active{color:#7d766c; border:1px #7d766c solid;}
.pagebox span.pagebox_num_nonce{padding:0 8px; height:23px; line-height:23px;color:#fff; cursor:default; background:#a49c91; font-weight:bold;}
.pagebox span.pagebox_num ul li{color:#83766d; height:23px;}
.pagebox span.pagebox_num a,.pagebox span.pagebox_num a:visited{border:1px #cecbc2 solid; color:#83766d; text-decoration:none; padding:0 8px; cursor:pointer; height:21px; *height:21px; line-height:21px;}
.pagebox span.pagebox_num a:hover,.pagebox span.pagebox_num a:active{border:1px #7d766c solid;color:#363636;}
.pagebox span.pagebox_num_ellipsis ul li{color:#393733; width:22px; background:none; line-height:23px;}
.pagebox span.pagebox_next_nolink ul li{border:1px #ddd solid; width:53px; height:21px; *height:21px; line-height:21px; text-align:center; color:#999; cursor:default;}

.blkContainerSblkCon img {border:none;}
.blkBar{padding:10px 8px 0 0; line-height:25px; margin:0 20px 0; text-align:right;}
.e_cont_01{border:1px solid #d9d9d9;border-top:none;margin:10px auto 0;width:570px;text-align:left;line-height:20px;}
.e_cont_01 .e_title{height:24px;background:url(../images/con_mj_001.gif) repeat-x 0 0;border-bottom:1px solid #d9d9d9;border-top:1px solid #d9d9d9;}
.e_cont_01 .e_title .title{float:left;padding:2px 0 0 15px;font-size:14px;color:#000;line-height:22px;font-weight:bold;}
.e_cont_01 .e_title .more{float:right;padding:2px 10px 0 0;font-size:12px;color:#000;}
.e_cont_01 .e_title a:link,.e_cont_01 .e_title a:visited{color:#000;}
.e_cont_01 .e_title a:hover{color:#f00;}

.e_cont_01 .e_title_3{height:23px;background:url(../images/el_mj_004.gif) no-repeat 0 0;width:183px;margin-left:5px;;height:23px;}
.e_cont_01 .e_title_3 .title{float:left;padding:2px 0 0;font-size:14px;color:#000;line-height:20px;font-weight:bold;width:111px;text-align:center;}
.e_cont_01 .e_title_3 .more{float:right;width:35px;height:7px;overflow:hidden;line-height:100px;margin:8px 18px 0 0;display:inline;background:url(../images/el_mj_004.gif) no-repeat 0 -40px;}
.e_cont_01 .e_title_3 .more a{display:block;}
.e_cont_01 .e_title_3 a:link,.e_cont_01 .e_title_3 a:visited{color:#000;}
.e_cont_01 .e_title_3 a:hover{color:#f00;}

.e_cont_01 .e_cont{zoom:1;overflow:hidden;padding:8px 0;}
.e_cont_01 .e_box{width:189px;float:left;overflow:hidden;background:url(../images/el_mj_002.gif) repeat-y 0 0;margin-left:-1px;padding-top:6px;}
.e_cont_01 .c_pic{text-align:center;}
.e_cont_01 .c_pic a:link,.e_cont_01 .c_pic a:visited{color:#606060;}
.e_cont_01 .c_pic a:hover{color:#f00;}
.e_cont_01 .c_pic img{display:block;margin:0 auto;border:1px solid #dadada;}
.e_cont_01 .c_pic p{padding:2px 0 0;margin:0;font-size:12px;line-height:20px;}

.MenuCont01 { overflow:hidden; zoom:1;}
.MenuCont01 ul { margin:5px 4px 6px 0; padding-left:14px;}
.MenuCont01 li { line-height:25px; height:25px; width:200px; overflow:hidden;}
.MenuCont01 span { display: block; text-align:center; color:#fff; font-weight:900; font-size:10px; width:17px; height:14px; overflow:hidden; line-height:12px; margin:5px 4px 0 auto; background:url(../images/sjk_ela_lmy_001.gif) no-repeat -727px -286px; float:left;}
.MenuCont01 span.Red {background:url(../images/sjk_ela_lmy_001.gif) no-repeat -727px -266px;}
.MenuCont01 a:link,.MenuCont01 a:visited{color:#4d4d4d;}
.MenuCont01 a:hover{color:#f00;}
.hotNC ul li a {
color:#000099;
text-decoration:underline;
}

.hotNC ul li a:link {
color:#000099;
text-decoration:underline;
}

.hotNC ul li a:visited {
color:#000099;
text-decoration:underline;
}

.hotNC ul li a:hover {
color:#CC0000;
text-decoration:underline;
}

.hotNC ul li a:active {
color:#CC0000;
text-decoration:underline;
}
.qyfwBlk{clear:both;width:638px;margin:0 auto;text-align:left;border:1px solid #d9e3ed;background:#fff;border-bottom:none;}
.qyfwBlk a{text-decoration:underline;}
.qyfwBlk a:link{color:#009;}
.qyfwBlk a:visited{color:#800080;}
.qyfwBlk a:hover,a:active,a:focus{color:#f00;}
.qyfwBlk ul{list-style-type:none;}
.qyfwBlk li{display:block;}
.qyfwBlk h1{clear:both;height:24px;border-bottom:1px solid #d9e3ed;line-height:25px;font-size:14px;font-weight:bold;padding-left:12px;background:url(http://i3.sinaimg.cn/dy/deco/2008/1231/yocc081231img/qyfw_zty_003.gif) repeat-x;}
.qyfwBlk h1 a:link,.qyfwBlk h1 a:visited{color:#000;text-decoration:none;}
.qyfwBlk h1 a:hover,.qyfwBlk h1 a:active{color:#c00;text-decoration:underline;}
.qyfwBlk .conBlk{clear:both;padding:5px 0 5px 8px;height:auto;_height:96px;min-height:96px;color:#009;}
.qyfwBlk .conBlk li{float:left;display:inline;width:155px;height:24px;line-height:24px;padding-left:2px;}
.botSxBlk{clear:both;border-top:1px dashed #C8C8C8;line-height:30px;padding-left:9px;padding-top:5px;color:#009;height:28px;overflow:hidden;}
.botSxBlk li{float:left;display:inline;width:155px;padding-left:2px;}

.MTitle_01{height:24px;border-width:1px;border-style:solid;}
.MTitle_01 .title{font-size:14px;padding:2px 0 0 10px;line-height:22px;float:left;}
.MTitle_01 .menu{float:right;}
.MTitle_01 .menu label{float:left;width:54px;text-align:center;line-height:22px;padding:2px 0 0;border-width:0 0 0 1px;border-style:solid;cursor:pointer;}
.MTitle_01 .menu label.selected{border:none;padding-bottom:5px;margin-bottom:-5px;position:relative;z-index:2;margin-right:-1px;padding-left:1px;}
.MTitle_01 a:link,.MTitle_01 a:visited{color:#000;text-decoration:none;}
.MTitle_01 a:hover{color:#c00;text-decoration:underline;}
.MTitle_01 .more{float:right;padding:2px 10px 0 0;line-height:22px;}
.MTitle_01 a.fred:link,.MTitle_01 a.fred:visited{color:#c00;text-decoration:underline;}
.MTitle_01 .vmenu{float:right;margin-top:5px;margin-right:5px;}
.Mblk_07{border-color:#c8c8c8;background:#fff;}
.Mblk_07{border-width:0 1px;border-style:solid;zoom:1;overflow:hidden;padding:8px 0 8px 8px;}
.topList_01{padding-left:2px;}
.topList_01 li{line-height:22px;}
ol label{width:13px;height:11px;background:url(../images/con_mj_002.gif) no-repeat 0 0;overflow:hidden;float:left;margin:4px 5px 0 0;*margin-left:2px;}
ol .No01{background-position:0 -100px;}
ol .No02{background-position:-50px -100px;}
ol .No03{background-position:-100px -100px;}
ol .No04{background-position:-150px -100px;}
ol .No05{background-position:-200px -100px;}
ol .No06{background-position:-250px -100px;}
ol .No07{background-position:0 -150px;}
ol .No08{background-position:-50px -150px;}
ol .No09{background-position:-100px -150px;}
ol .No10{background-position:-150px -150px;}
ol .No11{background-position:-250px -700px;}
ol .No12{background-position:-200px -700px;}
ol .No13{background-position:0 -750px;}
ol .No14{background-position:-50px -750px;}
ol .No15{background-position:-100px -750px;}
ol .No16{background-position:-150px -750px;}
ol .No17{background-position:-200px -750px;}
ol .No18{background-position:-250px -750px;}
ol .No19{background-position:0 -800px;}
ol .No20{background-position:-50px -800px;}

#page{width:950px; margin:0 auto; overflow:hidden;_display:inline-block;padding:5px 0;}
#wrap { width:950px; margin-top:0px; }
.secondaryHeader{height:33px;overflow:hidden;background:url(../images/standardl2nav_bg.gif) repeat-x #fff;color:#000;font-size:12px;font-weight:100; margin-top:-4px;}
.secondaryHeader a,.secondaryHeader a:visited{color:#000;text-decoration:none;}
.secondaryHeader a:hover,.secondaryHeader a:active{color:#c00;text-decoration:underline;}
.sHBorder{border:1px #e3e3e3 solid;padding:0 10px 0 12px;overflow:hidden;zoom:1;}
.sHLinks{float:right;line-height:31px;}
#channel_navbar{height:32px; overflow:hidden; background:url(../images/eladies_home_bg_002.gif) repeat-x 0 -34px #a40a0e; color:#fff;}
#channel_navbar a,#channel_navbar a:visited{color:#fff; text-decoration:none;}
#channel_navbar a:hover,#channel_navbar a:active{color:#fff; text-decoration:underline;}
.channel_navbar_list1{float:left;}
.channel_navbar_list1 li{padding:0 7px; float:left; line-height:34px; letter-spacing:5px; text-indent:5px;}
.channel_navbar_list1 li.on{padding:0 10px; background:url(../images/eladies_home_bg_002.gif) repeat-x 0 -2px;}
#hotrecommend{height:32px; overflow:hidden; background:url(../images/eladies_home_bg_002.gif) repeat-x 0 -66px;}
.hotrecommend_dl1{display:block; height:32px; width:950px; overflow:hidden; background:url(../images/eladies_home_bg_001.gif) no-repeat 0 -300px;}
.hotrecommend_dl1 dt{float:left; width:90px; overflow:hidden; height:32px; line-height:34px; text-align:center; background:url(../images/eladies_home_bg_001.gif) no-repeat 72px -407px;}
.hotrecommend_dl1 dd{display:block; height:32px; width:860px; overflow:hidden; float:right;}
.hotrecommend_dl1 dd ul{display:block; height:32px; overflow:hidden; background:url(../images/eladies_home_bg_001.gif) no-repeat 855px -350px;}
.hotrecommend_dl1 dd li{float:left; padding:0 12px 0 0; line-height:34px;}
.hotrecommend_dl1 a,.hotrecommend_dl1 a:visited{color:#676767; text-decoration:none;}
.hotrecommend_dl1 a:hover,.hotrecommend_dl1 a:active{color:#c00; text-decoration:underline;}


.mfimgstyle2{width:284px; height:294px; border:1px #BFBFBF solid; padding:3px; margin-right:9px}
/*---------- viewboxshop ---------*/
.viewboxshop{
	width:600px;
	overflow:hidden;
	padding-bottom:8px;
}
.viewboxshop .title{
	height:56px;
	line-height:56px;
	text-align:center;
	overflow:hidden;
	padding-top:10px;
}
.viewboxshop .title h2{
	font-size:24px;
	color:#369;
}
.viewboxshop .info{
	height:24px;
	line-height:17px;
	text-align:center;
	overflow:hidden;
	color:#777;
}
.viewboxshop .info small{
	margin-left:8px;
	margin-right:3px;
	color:#999;
	font-size:12px;
}
.viewboxshop .info a{
	color:#690;
}
.viewboxshop .intro{
	padding:8px 16px;
	line-height:25px;
	background:#FAFDFE;
	border:1px solid #DDD;
	font-size:14px;
	color:#666;
	margin-top:8px;
}
.viewboxshop .infolist{
	width:280px;
	float:left;
}
.viewboxshop .infolist small{
	width:100px;
	text-align:right;
	display:block;
	float:left;
	font-size:14px;
	line-height:31px;
	color:#999;
	clear:left;
	height:31px;
	overflow:hidden;
}
.viewboxshop .infolist span{
	width:160px;
	line-height:30px;
	float:left;
	font-size:14px;
	height:31px;
	overflow:hidden;
}
.viewboxshop .picview{
	width:310px;
	float:right;
	padding-right:4px;
	padding-top:16px;
}
.viewboxshop .labeltitle{
	height:23px;
	background:url(../images/view-labeltitle-bg.gif) left 10px repeat-x;
	clear:both;
	overflow:hidden;
	margin:0px auto 0px;
	padding-top:10px;
}
.viewboxshop .labeltitle strong{
	width:80px;
	height:23px;
	line-height:23px;
	text-align:center;
	color:#FFF;
	letter-spacing:1px;
	display:block;
	float:left;
	background:url(../images/view-labeltitle-bg.gif) left -44px no-repeat;
	overflow:hidden;
}

.viewboxshop .content{
	font-size:14px;
	padding:12px 16px;
	line-height:25px;
	color:#333;
}
.viewboxshop .dede_pages{
	width:712px;
	float:none;
	overflow:hidden;
	text-align:center;
}
.viewboxshop .dede_pages ul{
	margin:0px auto;
	float:none;
	clear:both;
	overflow:hidden;
	text-align:center;
	white-space:nowrap;
}
.viewboxshop .dede_pages ul li,.viewboxshop .dede_pages ul li a{
	float:none;
	display:inline;
}
.viewboxshop .boxoff{
	height:10px;
	overflow:hidden;
	clear:both;
	background:url(../images/boxoff.gif) left 15px repeat-x;
	margin:4px auto;
	padding-top:10px;
}
.viewboxshop .boxoff strong{
	display:block;
	width:8px;
	height:10px;
	overflow:hidden;
	font-size:0px;
	line-height:100px;
	background:url(../images/boxoff.gif) right -10px no-repeat;
	float:left;
}
.viewboxshop .newdigg{
	width:406px;
	height:51px;
	margin:8px auto;
	clear:both;
	overflow:hidden;
	padding-left:8px;
}
.viewboxshop .diggbox{
	width:195px;
	height:51px;
	float:left;
	margin-right:8px;
	overflow:hidden;
	cursor:pointer;
}
.viewboxshop .diggbox .digg_act{
	font-size:14px;
	float:left;
	line-height:31px;
	text-indent:32px;
	height:29px;
	overflow:hidden;
	font-weight:bold;
}
.viewboxshop .diggbox .digg_num{
	float:left;
	line-height:29px;
	text-indent:5px;
}
.viewboxshop .diggbox .digg_percent{
	width:180px;
	clear:both;
	padding-left:10px;
	overflow:hidden;
}
.viewboxshop .diggbox .digg_percent .digg_percent_bar{
	width:100px;
	height:7px;
	background:#E8E8E8;
	border-right:1px solid #CCC;
	float:left;
	overflow:hidden;
	margin-top:3px;
}
.viewboxshop .diggbox .digg_percent .digg_percent_num{
	font-size:10px;
	float:left;
	padding-left:10px;
}
.viewboxshop .diggbox .digg_percent .digg_percent_bar span{
	display:block;
	height:5px;
	overflow:hidden;
	background:#000;
}
.viewboxshop .newdigg .digg_good{
	background:url(../images/newdigg-bg.png) left top no-repeat;
}
.viewboxshop .newdigg .digg_bad{
	background:url(../images/newdigg-bg.png) right top no-repeat;
}
.viewboxshop .newdigg .digg_good .digg_act{
	color:#C30;	
}
.viewboxshop .newdigg .digg_good .digg_num{
	color:#C63;
}
.viewboxshop .newdigg .digg_bad .digg_act{
	color:#36C;	
}
.viewboxshop .newdigg .digg_bad .digg_num{
	color:#39C;
}
.viewboxshop .newdigg .digg_good .digg_percent .digg_percent_bar span{
	border:1px solid #E37F24;
	background:#FFC535;
}
.viewboxshop .newdigg .digg_bad .digg_percent .digg_percent_bar span{
	border:1px solid #689ACC;
	background:#94C0E4;
}
.viewboxshop .handle{
	height:59px;
	padding-top:12px;
	overflow:hidden;
	clear:both;
}
.viewboxshop .handle .digg{
	width:59px;
	height:59px;
	float:left;
	background:url(../images/digg-bg.gif) no-repeat;
	margin-right:12px;
}
.viewboxshop .handle .digg .digg_num{
	width:56px;
	height:34px;
	font-size:20px;
	text-align:center;
	line-height:34px;
	overflow:hidden;
	color:#6B9169;
}
.viewboxshop .handle .digg .digg_act{
	width:56px;
	height:22px;
	line-height:23px;
	overflow:hidden;
}
.viewboxshop .handle .digg .digg_act a{
	margin-left:11px;
	color:#777;
	float:left;
}
.viewboxshop .handle .context{
	float:left;
}
.viewboxshop .handle .context ul li{
	line-height:29px;
	color:#888;
}
.viewboxshop .actbox{
	width:260px;
	text-align:center;
	float:right;
	padding-top:20px;
	padding-right:10px;
}
.viewboxshop .actbox ul li{
	display:inline;
	padding-left:22px;
	background-image:url(../images/actbox-ico.gif);
	background-repeat:no-repeat;
	margin-right:10px;
}
.viewboxshop .actbox ul li a{
	color:#777;
}
.viewboxshop .actbox ul li#act-fav{
	background-position:4px 0px;
}
.viewboxshop .actbox ul li#act-err{
	background-position:4px -37px;
}
.viewboxshop .actbox ul li#act-pus{
	background-position:4px -73px;
}
.viewboxshop .actbox ul li#act-pnt{
	background-position:4px -109px;
}
.viewboxshop .downurllist{
	width:100%;
	clear:both;
	overflow:hidden;
	
}
.viewboxshop .downurllist li{
	height:27px;
	background:url(../images/downurl-bg.gif) right top no-repeat;
	padding-right:4px;
	float:left;
	margin-right:10px;
	overflow:hidden;
	margin-top:10px;
}
.viewboxshop .downurllist li a{
	height:27px;
	background:url(../images/downurl-bg.gif) left top no-repeat;
	display:block;
	font-size:12px;
	color:#555;
	text-indent:30px;
	line-height:27px;
	float:left;
	padding-right:5px;
}
.viewboxshop .downurllist li a:hover{
	color:#F63;
	text-decoration:none;
}
.viewboxshop .picbox{
	width:100%;
	text-align:center;
	padding-top:10px;
	font-size:14px;
	line-height:31px;
	overflow:hidden;
}
.viewboxshop .picbox img{
	display:block;
	margin:16px auto 6px;
}
.viewboxshop .picbox ul.e8{
	font-size:12px;
	line-height:normal;
}
.viewboxshop .picbox ul.e8 li .pic{
	background:none;
	border:1px solid #EEE;
	overflow:hidden;
}
.viewboxshop .picbox ul.e8 img{
	margin:3px;
	border:1px solid #CCC;
}
.viewboxshop .picbox ul.e8 li .title{
	padding-top:0px;
}
.fc-f60{
	color:#ff0000;
	font-size:18px;
}
