.blkBreadcrumbNav{color:#6b6b6b!important}
.blkBreadcrumbNav a:link,.blkBreadcrumbNav a:visited{color:#6b6b6b}
.hd_nav li{background:url(../images/con_bg_standard_001.gif) no-repeat 0 10px;color:#7e7e7e}
.hd_nav li a,.hd_nav li a:visited{color:#7e7e7e}
.blkTopGoogleSearch{border-bottom:1px #eee solid}
.blkChannelLogo{background:url(../images/con_bg_standard_001.gif) no-repeat right -47px}
.Main{background:url(../images/con_eladlies_mj_001.gif) repeat-y 0 0;border-top:1px #e0e0e0 solid}
.MainBorderBottom{background:url(../images/con_eladlies_mj_002.gif) no-repeat 0 0}
.blkContainerSblk h1{border-bottom:1px #d0d0d0 solid;color:#333}
.blkContainerPblk{background:#fff;border:1px solid #e0e0e0;border-top:none;margin:0}
a.blkCommentLinkPost{background:url(../images/con_bg_standard_001.gif) no-repeat 0 -99px}
.blkOtherFunction{border-top:1px #e0e0e0 dashed}
.blkOtherFunction a:hover{text-decoration:underline}
div.blkOtherFunction_1{width:210px;padding-left:30px;background:url(../images/con_eladlies_mj_003.gif) no-repeat 10px 3px}
div.blkOtherFunction_2{width:65px;padding-left:15px;background:url(../images/con_eladlies_mj_003.gif) no-repeat 0 -46px;text-align:left}
div.blkOtherFunction_3{width:45px;padding-left:18px;background:url(../images/con_eladlies_mj_003.gif) no-repeat 0 -97px;text-align:left}
div.blkOtherFunction_4{width:70px;padding-left:20px;background:url(../images/con_eladlies_mj_003.gif) no-repeat 0 -147px;text-align:left}
div.blkOtherFunction_5{width:45px;padding-left:20px;background:url(../images/con_eladlies_mj_003.gif) no-repeat 0 -197px;text-align:left}
div.blkOtherFunction_6{width:35px;padding-left:17px;background:url(../images/con_eladlies_mj_003.gif) no-repeat 0 -247px;text-align:left;display:block}
div.blkPhoneNum{color:#636161}
.blkContentFooter{color:#626262;border-top:1px #c8c6c5 solid}
.blkContentFooter a,.blkContentFooter a:visited{color:#626262}
.pageKeyword{border-top:1px dashed #e0e0e0;line-height:18px;color:#333;margin:5px 20px 0;padding:7px 0 0 10px}
.pageKeyword a:link,.pageKeyword a:visited{color:#333;text-decoration:none}
.pageKeyword a:hover{color:red;text-decoration:underline}
.moduleImgTxt01{border:1px #c8c8c8 solid}
.moduleImgTxt01Txt h3 a,.moduleImgTxt01Txt a:visited{padding-left:5px;color:#2c4ebb}
.blkVideoLink a{background:url(../images/con_bg_standard_001.gif) no-repeat 0 -200px}
.blkVideoLink a:hover,.blkVideoLink a:active{background-position:0 -350px}
.blkVideoLinkNews a{background:url(../images/con_bg_standard_005.gif) no-repeat 0 0}
.blkVideoLinkNews a:hover,.blkVideoLinkNews a:active{background-position:-150px 0}
.moduleNewsImgTxt01{border:1px #c8c8c8 solid;background:#fff}
.moduleNewsImgTxt01_Tm_Ti{background:url(../images/con_bg_standard_001.gif) no-repeat 0 -940px}
.moduleNewsImgTxt01_Tm_Ti h3{border-bottom:1px #c8c8c8 dashed;border-top:1px #c8c8c8 dashed}
.moduleNewsImgTxt01_Tim .moduleNewsImgTxt01_Tm_Ti h3,.moduleNewsImgTxt01_Pim .moduleNewsImgTxt01_Tm_Ti h3,.moduleNewsImgTxt01_Pm .moduleNewsImgTxt01_Tm_Ti h3{border-bottom:none}
.moduleNewsImgTxt01_Tm_List li .liTi{border-left:1px #c8c8c8 solid}
.moduleNewsImgTxt01_Tim_Il_01_V a{background:url(../images/con_bg_standard_001.gif) no-repeat 0 -550px}.moduleNewsImgTxt01_Tim_Il_01_V a:hover,.moduleNewsImgTxt01_Tim_Il_01_V a:active{background:url(../images/con_bg_standard_001.gif) no-repeat 0 -750px}
.moduleGoTopic{border:1px #81a0d1 solid;background:#ddeffd;color:#666}
.Mblk_01{background:#f5f9ff;border-color:#c8c8c8}
.Mblk_01 .b_right .c_pic img{border-color:#b9cdec}
.Mblk_05 .line_1{background-position:4px -45px}
.Mblk_05 ul{border:none;border-color:#c8c8c8}
.Mblk_08_1 .input_01{color:#7e7e7e;border-color:#c8c8c8}
.Mblk_08_1 .button_01{background:url(../images/con_mj_002.gif) no-repeat -150px -400px}
.Mblk_08_1 .bg{background:#f7faff}
.Mblk_11 .b_cont2 h2 .more{background:url(../images/con_bg_standard_001.gif) no-repeat 0 -93px}.Mblk_11 .t_info{background:url(../images/con_mj_001.gif) repeat-x 0 -200px}
.MTitle_01 .menu label.selected{background:url(../images/con_mj_002.gif) no-repeat 0 0}
.M_Menu_01 label.selected{background:url(../images/con_mj_002.gif) no-repeat -151px 0}
.M_Menu_02{background:#f7faff;border-color:#c8c8c8}
.M_Menu_03{background:#eff4fa;border-color:#c8c8c8}
.M_Menu_03 label.selected{background-position:-150px -350px}
.topList_02{background:url(../images/con_mj_003.gif) repeat-y 48% 0}
.topList_03{background:url(../images/con_mj_003.gif) repeat-y 49% 0}
.histogram .pillar{background:#cce6f8;border-color:#add0f5}
.c_v_01 .c_pic a{background:url(../images/con_mj_002.gif) no-repeat 0 -200px}
.c_v_01 .c_pic a:hover{background-position:-150px -200px}
.list_009_f12 li{background-position:4px -43px}
.list_009_f14 li{background-position:4px -41px}
.list_666_f12{line-height:20px;color:#666}
.list_666_f12 li{padding-left:1em;background:url(../images/unfcn_mj_01.gif) no-repeat -3995px 50%}
table.tb01{border-collapse:separate;border:1px #c6d8ee solid;border-bottom:none;border-left:none;background:#eef5fd}
table.tb01 td,table.tb01 th{border:1px #c6d8ee solid;border-right:none;border-top:none;background:#eef5fd;font-size:12px;line-height:164.28%;text-align:left;padding:0 5px}
table.tb01 p{font-size:12px;text-align:left}
table.tb01 img{border:none}
.sidebar .MTitle_01{border-bottom:none;background:url(../images/con_eladlies_mj_003.gif) repeat-x 0 -350px;border-color:#cfcfcf}
.sidebar .MTitle_01 .title{padding-left:20px;background:url(../images/con_eladlies_mj_003.gif) no-repeat 10px -293px}
.sidebar .Mblk_06{line-height:20px;color:#666;border-color:#cfcfcf}
#divRes1005{background:url(../images/con_eladlies_mj_003.gif) repeat-x 0 -349px}
#divRes1005 table{border-color:#cfcfcf!important}
#divRes1005 table tr{background:none!important}
.blkS1{padding:25px 0 0}
.linkS1{font-size:14px;font-weight:700}
.boxS1{background:url(../images/con_eladlies_cl_001.gif) no-repeat;width:57px;height:64px;text-align:center;float:left;/*display:inline;*/margin:0 0 0 8px}
.boxS1Num{font-size:16px;font-family:Arial;height:40px;line-height:40px;cursor:pointer;font-weight:700}
.boxS1Num2{background:url(../images/con_eladlies_cl_002.gif) no-repeat 50% 50%;height:40px;line-height:40px;cursor:pointer}
.boxS1Info{line-height:22px}
.boxS1 a{text-decoration:none;display:block;height:100%}
.blkS2{height:64px;padding:25px 0 0}
.blkS2 table{width:195px;width:206px}
.blkS3{background:url(../images/con_eladlies_cl_003.gif) no-repeat;width:215px;height:24px;line-height:24px;text-align:center;margin:25px auto 0}
.blkS4{overflow:hidden;zoom:1;text-align:left;padding:15px}
.titleS1{border-bottom:1px solid #e3e3e3;overflow:hidden;zoom:1;padding:0 5px 4px 0}
.titleS1 h2{font-size:14px;float:left;padding:0 0 0 5px}
.titleS1 .more{float:right}
.boxS2{overflow:hidden;zoom:1;margin:10px 0 0;padding:0 10px}
a.imgLinkS1 img{border:1px solid #e3e3e3;display:block;padding:5px}
a.imgLinkS1:hover img{border-color:#666}
.boxS2 .infoArea{line-height:20px;color:#666;margin:0 0 0 104px}
.boxS2 .p2{text-align:right}
.boxS3{float:left;width:293px;overflow:hidden;zoom:1}
.list_000_f14{padding:6px 0 0 5px}
.list_000_f14 a{color:#000;text-decoration:none}
.list_000_f14 li{padding-left:1em;background:url(../images/unfcn_mj_01.gif) no-repeat -1995px 50%;line-height:23px;font-size:14px}
.blkS5{border:1px solid #e3e3e3;overflow:hidden;zoom:1;margin:10px 0 0;padding:10px}
.blkS5 .infoArea{line-height:23px;margin:0 0 0 242px}
.blkS5 h3{border-bottom:1px dashed #e3e3e3;padding-bottom:2px;font-size:14px}
.blkS5 p{font-size:14px;color:#333;padding:5px 0 0}
.blkS7{border:1px solid #e0e0e0;width:502px;height:361px;margin:0 auto;padding:10px}
.imgBoxS1{float:left;position:relative;width:251px;height:361px;overflow:hidden}
.blkS6{width:295px;overflow:hidden;zoom:1;margin:10px auto}
.boxS5{float:left;width:86px;height:62px;text-align:center;background:url(../images/con_eladlies_cl_004.gif) no-repeat}
.boxS5 span{display:block;font-size:16px;font-weight:700;font-family:arial;color:#c86315;height:35px;overflow:hidden;line-height:40px}
.boxS5 a{color:#333;text-decoration:none;font-size:14px}
.boxS6{float:left;width:120px;background:url(../images/con_eladlies_cl_005.gif) center center no-repeat;height:62px}
.boxS8{position:absolute;z-index:100}
.boxS8ImgS1{position:absolute;z-index:110;left:0;top:0}
.boxS8_1{border:1px solid #000;position:absolute;z-index:151;top:-1px;left:-1px}
.boxS8_2{border:1px solid #fff;z-index:150;position:absolute;left:0;top:0}
.boxS8_3{position:absolute;width:120px}
.boxS8_3T{background:url(../images/con_eladlies_cl_006.gif) no-repeat;overflow:hidden;height:4px}
.boxS8_3M{background:#d0fdaf;line-height:20px;padding:0 4px}
.boxS8_3B{background:url(../images/con_eladlies_cl_006.gif) -200px 0 no-repeat;overflow:hidden;height:4px}.blkCommentBox{background:none}
.blkBar{line-height:25px;text-align:right;color:#6b6b6b;margin:0 20px;padding:10px 8px 0 0}
.blkBar a:link{ color:#000099;}
.blkS6_pt{width:292px}
.blkS6_combox{line-height:18px;color:#333;border-bottom:#ededed dashed 1px;padding:5px 0}
div#submitReview{height:247px;text-align:left;margin:10px 0}
div#submitReview h2{height:24px;line-height:24px;font-size:14px;padding-left:22px;border-bottom:1px dashed #ededed;background:url(../images/book_zp_ico_001.gif) no-repeat 11px 8px}
div#submitReview h2 span{color:#7b858c;margin-left:16px;font-size:12px;font-weight:400}
div#submitReview h2 b{margin-left:40px;font-size:12px;font-weight:400}
div#submitReview form{font-size:12px;padding:12px 0 0 30px}
div#submitReview form p{font-size:12px;margin:0;padding:10px 0}
div#submitReview form p span{color:#a00}
div#submitReview form p label{color:#505050;font-weight:700}
div#submitReview form p input#imgSubmit{float:right;margin-right:15px}
input#userid,input#pwd{width:90px}
div#submitReview form textarea{width:465px;height:120px;overflow:auto;font-size:12px}
.PostXq{background:url(../images/news_xq_ws_011.gif) repeat-x #f9f9f9;height:21px;overflow:hidden;text-align:left}
.PostXq-Btn-Blk{border:1px #aeb7c3 solid;background:#f3f9fe}
.PostXq-Btn{width:54px;height:40px;overflow:hidden;background:url(../images/news_xq_ws_014.gif) repeat-x}.PostXq-Btn-Ln{width:2px;background:url(../images/news_xq_ws_013.gif) repeat-y #fff}
.PostXq-Btn a{width:54px;height:40px;overflow:hidden;display:block;color:#009;text-decoration:none;text-align:center}
.PostXq-Btn a:hover{text-decoration:underline;color:#009}
.PostXq-Btn a img{margin:2px 0 0}
.PostXq-Btn a span{display:block;text-align:center;padding:2px 0 0}
a.PostXq-Btn-Jm1{width:111px;height:25px;line-height:26px;overflow:hidden;display:block;text-align:center;background:url(../images/news_xq_ws_015.gif) no-repeat #b8d0e9;text-decoration:none;color:#000}
.XqJg-Blk{width:559px;height:168px;overflow:hidden;background:url(../images/news_xq_ws_029.gif) no-repeat #d9e6f4}
.XqJg-Blk h2{text-align:left;height:26px;line-height:28px;overflow:hidden;font-size:12px;font-weight:400;color:#000;padding:0 0 0 13px}
.XqJg-Blk-V{width:559px}
.XqJg-Blk-V td{width:50px}
.XqJg-Blk-V-t{width:22px;height:79px;background:url(../images/news_xq_ws_017.gif) no-repeat;vertical-align:bottom}
.XqJg-Blk-V-t-r{background:url(../images/news_xq_ws_019.gif) repeat-y 16px 0}
.XqJg-Blk-V-b{text-align:center;height:43px;overflow:hidden}
.XqJg-Blk-V-b span{display:block;font-size:14px;padding:5px 0 0}
.XqJg-Blk-V-b img{margin:5px 0 0}
a.PostXq-Btn-Jm{width:111px;height:25px;line-height:26px;overflow:hidden;display:block;text-align:center;background:url(../images/news_xq_ws_015.gif) no-repeat #b8d0e9;text-decoration:none;color:#000;margin:0}
#PublicRelation6{text-align:center}
#PublicRelation6 table{margin:0 auto}
.blkBreadcrumbNav a:hover,.artInfo a:hover,.artInfo a:active,.list_666_f12 a:hover,.sidebar .Mblk_06 a:hover{color:red}
.hd_nav li a:hover,.hd_nav li a:active,.blkContentFooter a:hover,.blkContentFooter a:active,.moduleImgTxt01Txt h3 a:hover,.moduleImgTxt01Txt h3 a:active,.fred,.boxS2 .infoArea a:hover,a.PostXq-Btn-Jm1:hover,a.PostXq-Btn-Jm:hover{color:#c00}
.artInfo,.artInfo a,.artInfo a:visited{color:#999}
.blkComment,.moduleImgTxt01Txt h3,.moduleNewsImgTxt01_Tm_List li,.Mblk_10 h2{border-bottom:1px #c8c8c8 dashed}
.blkOtherFunction a:link,.blkOtherFunction a:visited,.boxS1 a:hover,.titleS1 .more a{text-decoration:none; color:#000099;}
.moduleNewsImgTxt01_Tim_Il_01_I a img,.moduleNewsImgTxt01_Tim_Il_01_D a img,.moduleNewsImgTxt01_Pim_IL_blk a img{border:1px #ddd solid}
.moduleNewsImgTxt01_Tim_Il_01_I a:hover img,.moduleNewsImgTxt01_Tim_Il_01_I a:active img,.moduleNewsImgTxt01_Tim_Il_01_D a:hover img,.moduleNewsImgTxt01_Tim_Il_01_D a:active img,.moduleNewsImgTxt01_Pim_IL_blk a:hover img,.moduleNewsImgTxt01_Pim_IL_blk a:active img{border:1px #81a0d1 solid}
.moduleNewsImgTxt01_Tim_Il_01 p,.list_666_f12 a:link,.list_666_f12 a:visited,.sidebar .Mblk_06 a:link,.sidebar .Mblk_06 a:visited{color:#666}
.MPartA .Mblk_02,#GoogleAd,.bPCB_b1{background:#fff}
.Mblk_01 .b_right .c_pic a:hover img,.Mblk_04 .b_box1,.Mblk_08_1 .search,.Mblk_08_1 table,.Mblk_08_1 td,.Mblk_08_1 th,.Mblk_09,.Mblk_09 h2,.Mblk_09 .b_left,.Mblk_12 .line,.Mblk_12 .b_left,.Mblk_12 h4 .t_line,.MTitle_01 .menu label,.M_Menu_01 label,.M_Menu_02 label,.M_Menu_03 label,#GoogleAd .b_cont,.c_p_01 .c_pic img,.c_pt_01 .c_pic img,.c_pt_02 .c_pic img,.c_t_01 li,.c_t_01 li .time,.bPCB_b1_1 textarea,.bPCB_b1_2_2 input,.bPCB_b1_2_4 input{border-color:#c8c8c8}
.Mblk_02,.Mblk_03,.Mblk_04,.Mblk_05,.Mblk_06,.Mblk_07,.Mblk_08,.Ad_01{background:#fff;border-color:#c8c8c8}
.Mblk_11,.Mblk_11 .b_cont1{border-color:#ededed}
.MTitle_01,.M_Menu_01{background:url(../images/con_mj_001.gif) repeat-x 0 0;border-color:#c8c8c8}
.c_p_01 .c_pic a:hover img,.c_pt_01 .c_pic a:hover img,.c_pt_02 .c_pic a:hover img{border-color:#81a0d1}
.imgLinkS1,a.imgLinkS2{display:block;float:left}.boxS2 .infoArea a,.fblue{color:#1a66b3}
.list_000_f14 a:hover,.boxS5 a:hover{color:#c00;text-decoration:underline}

/* 081205001 ws begin */
/* Ð´Èë²©¿Í */
.boxS1{width:70px; height:57px;background:url(../images/conBlogBtn_s02_01.png) no-repeat 0 0; }
.boxS1 a,.boxS1 a:visited{width:70px; height:57px; text-decoration:none;}
.boxS1 a:hover{text-decoration:none;}
.boxS1Num{color:#fff;}
.boxS1Num,.boxS1Num2{height:35px; line-height:35px;}
.boxS1 a .boxS1Num,.boxS1 a #getBlogNum,.boxS1 a #getBlogNum a,.boxS1 a:visited #getBlogNum,.boxS1 a:visited #getBlogNum a{color:#fff; text-decoration:none;}
.blkS2 table{width:234px; *width:245px;}
.boxS1Num2{background:url(../images/conBlogBtn_s02_02.png) no-repeat;}
.boxS1Info {line-height:20px;}
/* 081205001 ws end */